.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top:20px;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-logo {
  width: 35%;
  max-width: 75px;
  padding-bottom: 10px;
}
.profile img {
  border-radius: 6px;
 }
 .main-menu {
  padding-top:20px;
 }
 .main-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
 }
 .main-menu ul li {
     margin:10px auto;
     display: block;
     cursor: pointer;
     position: relative;
     padding-bottom: 10px;
 }

 .main-menu ul li > ul li  {
  display: block;
  width: 100%;
 }
 .main-menu ul li > ul li a {
  display: block;
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
 }
 .main-menu ul li a { 
  color:#000;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 9px;
  margin: 8px 11px 0;
  text-transform: capitalize;
  text-decoration: none;
 }
 .icon {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 0;
  top: 10px;
 } 

