   <div class="flex-container">
    <div class="column">New Project</div>
    <div>Running Project</div>
    <div>Finished</div>  
  </div>
<div class="container">
    <div class="cards">
        <div class="card-body">
            <h4>ERP System</h4>
             <div class="text-muted">12 open tasks<span>Testing</span></div>
            <p> All the Lorem Ipsum generators on the Internet tend to repeat necessary, making this the first true generator on the Internet.</p>
            <div class="flex-container">
                <div>created:</div>
                <div>Jan 11, 2023</div>
              </div>
              <div class="flex-container">
                <div>Team Leader:</div>
                <div>John</div>
              </div>
              <div class="flex-container">
                <div>Priority:</div>
                <div>Low</div>
              </div>
              <div class="flex-container">
                <div>DeadLine:</div>
                <div>July 17, 2023</div>
              </div>
              <div class="flex-container">
                <div>Comments:</div>
                <div>10</div>
              </div>
              <div class="flex-container">
                <div>blog:</div>
                <div>5</div>
              </div>
              <div class="flex-container">
                <div>Teams:</div>
                <div>...</div>
              </div>
              <div class="flex-container">
                <div>Progress:</div>
                <div><span>45%</span></div>
              </div>
              <div class="progress">
                <mat-progress-bar mode="determinate" value="60">
                </mat-progress-bar>
              </div>
        </div>
    </div>
    <div class="cards">
        <div class="card-body">
            <h4>Shopping Application</h4>
            <div class="text-muted">22 open tasks<span>Android</span></div>
            <p> There are many variations of passages of Lorem Ipsum available, but suffered alteration in some form, by injected humour. </p>
            <div class="flex-container">
                <div>created:</div>
                <div>Mar 23, 2023</div>
              </div>
              <div class="flex-container">
                <div>Team Leader:</div>
                <div>mary</div>
              </div>
              <div class="flex-container">
                <div>Priority:</div>
                <div>High</div>
              </div>
              <div class="flex-container">
                <div>DeadLine:</div>
                <div>Mar 13, 2024</div>
              </div>
              <div class="flex-container">
                <div>Comments:</div>
                <div>14</div>
              </div>
              <div class="flex-container">
                <div>blog:</div>
                <div>10</div>
              </div>
              <div class="flex-container">
                <div>Teams:</div>
                <div>...</div>
              </div>
              <div class="flex-container">
                <div>Progress:</div>
                <div><span>48%</span></div>
              </div>
              <div class="progress">
                <mat-progress-bar mode="determinate" value="60">
                </mat-progress-bar>
              </div>
        </div>
    </div>
    <div class="cards">
        <div class="card-body">
            <h4>Video Streaming App</h4>
            <div class="text-muted">27 open tasks<span>Testing</span></div>
            <p> Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
            <div class="flex-container">
                <div>created:</div>
                <div>July 5, 2022</div>
              </div>
              <div class="flex-container">
                <div>Team Leader:</div>
                <div>Frans</div>
              </div>
              <div class="flex-container">
                <div>Priority:</div>
                <div>Low</div>
              </div>
              <div class="flex-container">
                <div>DeadLine:</div>
                <div>Jan 17, 2023</div>
              </div>
              <div class="flex-container">
                <div>Comments:</div>
                <div>7</div>
              </div>
              <div class="flex-container">
                <div>blog:</div>
                <div>4</div>
              </div>
              <div class="flex-container">
                <div>Teams:</div>
                <div>....</div>
              </div>
              <div class="flex-container">
                <div>Progress:</div>
                <div><span>88%</span></div>
              </div>
              <div class="progress">
                <mat-progress-bar mode="determinate" value="60">
                </mat-progress-bar>
              </div>
        </div>
    </div>
</div>